.popup__set {
  position: relative;
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0 36px;
  margin-bottom: 36px;
}
.popup__input {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  width: 100%;
}
.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}
.error {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  display: block;
  box-sizing: border-box;
  height: 25px;
  position: absolute;
  width: 100%;
  top: 23px;
}

.popup__label {
  position: relative;
}

.popup__input-error_active {
  opacity: 1;
}
@media screen and (max-width: 720px) {
  .popup__input {
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
  }
  .popup__input:nth-child(2) {
    margin-bottom: 45px;
  }
}
